/* display background color black on navbar scroll */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css");
body {
  font-family: "Roboto Mono", monospace !important;
  background-color: black !important;
}
.navbarScroll.navbarDark {
  background-color: black;
}

/* hero background image */
.bgimage {
  height: 100vh;
  background: url("images/terminal.webp");
  background-size: cover;
  position: relative;
}
/* text css above hero image*/
.hero_title {
  font-size: 4.5rem;
}
.hero_desc {
  font-size: 2rem;
}
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/* spacing on all sections */
/* #about, #services, #portfolio, #contact {
    margin-top: 4rem;
    padding-top: 4rem;
} */
#contact {
  padding-bottom: 4rem;
}
/* about section image css */
.imageAboutPage {
  width: 100%;
}

/* services section css */
.servicesText.card {
  height: 100px;
  cursor: pointer;
}
.servicesIcon {
  font-size: 36px;
  text-align: center;
  width: 100%;
}
.card-title {
  text-align: center;
}
.card:hover .servicesIcon {
  color: #008000;
}
.servicesText:hover {
  border: 1px solid #008000;
}

/* social media icons styling */
.social-icons {
  font-size: 36px;
  cursor: pointer;
  color: white;
}
.fa-facebook:hover,
.fa-instagram:hover,
.fa-twitter:hover,
.fa-linkedin:hover,
.fa-twitch:hover,
.fa-github:hover {
  color: #008000;
}
.fab {
  color: #ffffff;
}
/* footer styling */
#footer {
  background-color: #808080;
  text-align: center;
}
.techLogo {
  width: 32px;
  height: 32px;
}

.desc {
  font-size: x-large;
}
#about {
  background-color: black;
  color: white;
}
.imageAboutPage {
  border-radius: 10px;
  height: 400px;
  width: 300px;
  margin: auto;
}
.techLogos {
  width: 32px;
  height: 32px;
}
.techLogos {
  width: 32px;
  height: 32px;
}
#skills {
  background-color: black;
  color: white;
  margin-top: 5rem;
}
#projects {
  background-color: black;
  color: white;
  margin-top: 5rem;
}
#projects .card-body {
  background-color: black;
}

#github-stats {
  margin-top: 5rem;
  text-align: center;
  background-color: black;
  color: white;
}
#github-top-langs {
  height: 195px;
}
.gitrow {
  display: flex;
  justify-content: center;
  gap: 10px;
}
#contact {
  margin-top: 5rem;

  background-color: black;
  color: white;
}
.contactcards {
  display: flex;
  justify-content: center;
  gap: 10px;
  text-align: center;
}
.contactcards .card {
  background-color: black;
  border: 1px solid white;
}
.aboutcontainer {
  text-align: center;
}
@media only screen and (max-width: 1200px) {
  .gitrow {
    display: flex;
    flex-direction: column;
  }
  .contactcards {
    display: flex;
    flex-direction: column;
  }
  .skillsrow {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
}
#resume-link-2 {
  text-decoration: none;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 10px;
  padding: 10px;
  background-color: #ffffff;
  transition: border font-weight 0.5s;
}
#resume-link-2:hover {
  border: 3px solid rgb(0, 0, 0);
  font-weight: bold;
}
i {
  fill: #008000;
}
.copyright {
  text-align: center;
  color: white;
}
